<style>
@media (max-width: 1199px){
	.sidebar_contentcard i svg{
		font-size: 40px;
	}
}
@media (max-width: 1155px){
	#profile_morebreadcrumb{
		padding-left: 10px;
		padding-right: 10px;
	}
}
@media (max-width: 1115px){
	#profile_morebreadcrumb{
		padding-left: 5px;
		padding-right: 5px;
	}
}
@media (max-width: 1095px){
	#profile_morebreadcrumb{
		padding-left: 0px;
		padding-right: 0px;
	}
}
@media (max-width: 1035px){
	#profile_morebreadcrumb .breadcrumb-item a{
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media (max-width: 991px){
	.singlepost_card .footer{
		padding-right: 10px;
	}
	.profile_contentdiv{
		padding-top: 20px;
		padding-right: 10px;
		padding-bottom: 20px;
	}
	#rightbar_col{
		display: none;
	}
	#second_singlepostcommentcard{
		display: block;
	}
	.sidebar_contentcard i svg{
		font-size: 50px;
	}
	.sidebar_contentcard i{
		padding-top: 25px;
		padding-bottom: 25px;
		padding-left: 0px;
		padding-right: 0px;
	}
	.profile_photodiv{
		padding-right: 10px;
	}
}
@media (max-width: 905px){
	.alert{
		padding: 10px;
		font-size: 13px;
	}
	.alert i{
		font-size: 18px;
		padding-top: 0px;
	}
	#auth__legend{
		font-size: 19px;
	}
	.auth__input{
		font-size: 14px;
	}
	.auth__btn{
		font-size: 13px;
		padding-top: 9px;
		padding-left: 35px;
		padding-right: 35px;
		padding-bottom: 10px;
	}
	.auth_redirectlink{
		display: block;
		width: 100%;
		font-size: 12px;
	}
	.auth_redirectlink a{
		font-size: 10px;
	}
}
@media (max-width: 800px){
	.sidebar_contentcard i svg{
		font-size: 45px;
	}
}
@media (max-width: 767px){
	.sidebar_contentcard i{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.sidebar_contentcard i svg{
		font-size: 30px;
	}
	.sidebar_contentcol{
		margin-bottom: 20px!important;
	}
	.sidebar__card{
		padding: 20px;
		height: 100%;
		overflow-x: scroll;
	}
	#auth__imgcol{
		display: none;
	}
	#auth__row{
		justify-content: flex-start!important;
	}
}
@media (max-width: 650px){
	.sidebar__card{
		padding: 10px;
	}
	.sidebar_contentcard i{
		padding-top: 20px;
		padding-bottom: 20px;
	}
}
@media (max-width: 575px){
	#sidebar__col{
		display: none;
	}
	#second_singlepostcommentcard .footer_div{
		position:fixed;
		right:0;
		bottom:0;
		left:0;
		z-index: 800;
	}
	.custom__header .custom__navbar{
		border-bottom: none;
		padding: 10px;
	}
	.auth__card{
		border: 1px solid var(--main-color);
		width: 70%;
	}
}
@media (max-width: 520px){
	.auth__card{
		border: 1px solid var(--main-color);
		width: 85%;
	}
}
@media (max-width: 425px){
	.profile_moremodal .custom_modal{
		border: 1px solid var(--nun-color)!important;
		position:fixed!important;
		right:0!important;
		bottom:0!important;
		left:50%!important;
		transform: translate(-50%, 0%)!important;
		width: 75%!important;
		border-bottom-left-radius: 0px!important;
		border-bottom-right-radius: 0px!important;
		z-index: 1000!important;
	}
	.singlepost_card img{
		border-radius: 0px;
	}
	#content_col{
		padding: 0px;
		padding-top: 4px;
	}
	.add__postcard{
		border-radius: 0px;
	}
	.post_card .header{
		padding-left: 10px;
		padding-right: 10px;
	}
	.post_card .body div.text{
		padding: 10px;
		padding-left: 15px;
	}
	.post_carouselimg{
		height: 200px;
		border: none;
		border-radius: 0px;
	}
	.post_card .footer{
		padding-right: 10px;
	}
	.singlepost_card{
		padding: 10px!important;
	}
	.custom__header .custom__navbar{
		padding: 5px;
		padding-left: 8px;
		padding-right: 0px;
	}
	.profile_card img.cover_photo{
		height: 120px;
	}
	.auth__card{
		border: 1px solid var(--main-color);
		width: 100%;
		border-radius: 6px;
		padding: 15px;
		padding-top: 25px;
		padding-bottom: 25px;
		box-shadow: none;
		background-color: var(--nun-color);
	}
	#auth__cardcol{
		padding-left: 2px;
		padding-right: 2px;
	}
	.auth__input{
		font-family: var(--josefin)!important;
		margin-bottom: 0px;
	}
}
@media (max-width: 415px){
	.profile_moremodal .custom_modal{
		width: 85%!important;
	}
	.add__postcard .card-header{
		padding: 10px;
		padding-bottom: 0px;
	}
	.add__postcard .card-header hr{
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.add__postcard .card-body{
		padding: 10px;
	}
	.profile_contentdiv{
		padding-top: 15px;
		padding-right: 5px;
		padding-left: 5px;
		padding-bottom: 15px;
	}
}
@media (max-width: 385px){
	.profile_moremodal .custom_modal{
		width: 95%!important;
	}
	.post_card .footer ul{
		padding: 5px;
	}
	.profile_card span.username{
		font-size: 14px;
	}
	.profile_card a.edit_profilebutton{
		font-size: 14px;
		padding-top: 7.5px;
		padding-bottom: 4px;
	}
	.profile_detailsdiv.first a{
		font-size: 13px;
		padding-right: 3px;
		padding-left: 3px;
	}
	.profile_detailsdiv.first a:nth-child(1){
		padding-left: 15px;
	}
	.profile_detailsdiv.first a:nth-child(3){
		padding-right: 0px;
	}
	.profile_detailsdiv.second span:nth-child(3){
		display: none;
	}
	.profile_card img.cover_photo{
		height: 110px;
	}
	.profile_card img.profile_photo{
		width: 74px;
		height: 74px;
		border: 5px solid var(--main-color);
	}
	.profile_contentdiv{
		padding-right: 2px;
		padding-left: 2px;
	}
	#profile_breadcrumb{
		border-radius: 10px;
	}
}
@media (max-width: 370px){
	.profile_moremodal .custom_modal{
		width: 100%!important;
	}
}
@media (max-width: 350px){
	.alert{
		font-size: 12px;
	}
	.alert i{
		font-size: 17px;
	}
	#auth__legend{
		font-size: 17px;
	}
}
@media (max-width: 330px){
	.custom__header .bottom_navbar #bottom_navbar .breadcrumb-item{
		margin-left: 9px;
		margin-right: 9px;
	}
	.custom__header .bottom_navbar #bottom_navbar .breadcrumb-item:nth-child(1){
		margin-left: 0px;
	}
	.custom__header .bottom_navbar #bottom_navbar .breadcrumb-item:nth-child(5){
		margin-right: 0px;
	}
}
@media (max-width: 320px){
	.custom__header .bottom_navbar #bottom_navbar .breadcrumb-item a{
		font-size: 17px;
	}
}
@media (max-width: 305px){
	.custom__header .bottom_navbar #bottom_navbar .breadcrumb-item{
		margin-left: 7px;
		margin-right: 7px;
	}
	.custom__header .bottom_navbar #bottom_navbar .breadcrumb-item:nth-child(1){
		margin-left: 0px;
	}
	.custom__header .bottom_navbar #bottom_navbar .breadcrumb-item:nth-child(5){
		margin-right: 0px;
	}
}
</style>